<h2 class="flex justify-center mt-8 text-6xl font-bold underline decoration-sky-500">Shopping List</h2>

<div class="flex justify-center my-36 gap-14">
  <h3 class="text-2xl">Total value  of food needed:   $819 </h3>
  <h3 class="text-2xl"> Amount of food: 3</h3>
</div>
<div class="flex justify-center">
  <table class="w-[35%] border">
  <thead class="border-b">
      <tr>
        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">#</th>
        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Food</th>
        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quantity</th>
        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Unit Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b ">
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">2</td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Potato</td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">12</td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">$172</td>
      </tr>
      <tr class="border-b bg-slate-50">
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Carrot</td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">1</td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">$72</td>
      </tr>
      <tr class="border-b ">
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">4</td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Tomato</td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">2</td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">$732</td>
      </tr>
      <tr class="border-b bg-slate-50">
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">5</td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Salad</td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">2</td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">$732</td>
      </tr>
    </tbody>
  </table>
</div>