  <nav>
    <div class="">
      <div class="flex justify-between h-16 px-10 shadow items-center">
        <div class="flex items-center space-x-8">
          <h1 class="text-xl lg:text-2xl font-bold cursor-pointer">RecipeApp</h1>
          <div class="hidden md:flex justify-around space-x-4">
          <% if current_user %>
            <a href="#" class="hover:text-indigo-600 text-gray-700">Home</a>
            <%= link_to "Food", foods_path, class: "hover:text-indigo-600 text-gray-700" %>
            <%= link_to "Recipes", recipes_path, class: "hover:text-indigo-600 text-gray-700" %>
            <a href="#" class="hover:text-indigo-600 text-gray-700">Shoping List</a>
            <a href="#" class="hover:text-indigo-600 text-gray-700">Contact</a>

            <% end %>
          </div>
        </div>
        <div class="flex space-x-4 items-center">
          <% if current_user %>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete,  data: {turbo: false}, class: "bg-gray-500 px-4 py-2 rounded text-white hover:bg-indigo-500 text-sm uppercase", 'data-ripple-light': true %>
          <% else %>
            <a href="#" class="text-gray-800 text-sm">LOGIN</a>
            <a href="#" class="bg-indigo-600 px-4 py-2 rounded text-white hover:bg-indigo-500 text-sm">SIGNUP</a>
          <% end %>

        </div>
      </div>
    </div>
  </nav>